# SPDX-FileCopyrightText: (C) 2022 Avnet Embedded GmbH
# SPDX-License-Identifier: GPL-3.0-only

---
name: On Issue

on:
  issues:
    types: [opened, reopened]

jobs:
  on_issue:
    runs-on: ubuntu-latest
    steps:
      - name: Sendgrid
        run: |
          curl -X "POST" "https://api.sendgrid.com/v3/mail/send" \
                 -H "Authorization: Bearer $SENDGRID_API_KEY" \
                 -H 'Content-Type: application/json' \
                 -d '{
             "from":{
                "email":"notification-issue@simpleswitch.app"
             },
             "personalizations":[
                {
                   "to":[
                      ${{ secrets.LIST_EMAILS_NOTIFICATIONS }}
                   ],
                   "dynamic_template_data":{
                      "subject": "New issue opened : $ISSUE on ${{ github.repository }}",
                      "action": "${{ github.event.action }}",
                      "id": "${{ github.event.issue.number }}",
                      "repo": "${{ github.event.repository.name }}",
                      "author": "${{ github.event.author_association }}",
                      "url": "${{ github.event.issue.html }}",
                   }
                }
             ],
             "template_id":"${{ secrets.EMAIL_TEMPLATE_ISSUE }}"
          }'
        env:
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ISSUE: ${{ github.event.issue.title }}
